        <div class="col-lg-4">
            <canvas id="categoriesChart" width="50px" height="50px"></canvas>
        </div>
        <div class="col-lg-4">
            <canvas id="categoriesChart" width="50" height="50"></canvas>
        </div>
        <div id = "debug" class="col-lg-12">
        </div>
</div>

<script>
    $.ajax({
            headers: {
                "Content-Type": "application/json"
            },
            url: "categoriesChart?currency=USD",
            method: "GET",
            success: function (data) {
                var dataset = _.map(data, (e) => e.total);
                var labels = _.map(data, (e) => e._id.category + "(" + e._id.currency + ")");
             //   $("#debug").text( dataset);
                var ctx = document.getElementById("categoriesChart");
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: dataset
                        }],
                        labels: labels
                    }
                });
            }
        });
</script>