        <div class="col-lg-12">
            <div class="panel panel-black">
                <div class="panel-body">
                    <select id="currency">
                        {{#currencies}}
                            <option value="{{this}}">{{this}}</option>
                        {{/currencies}}
                    </select>
                </div>
            </div>
        </div>
        <div class="panel col-lg-4">
            <div class="panel panel-black">
                <div id="categoriesChart" class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-black">
                <div id="reasonsChart" class="panel-body">
                </div>
            </div>
        </div>
        <div id = "debug" class="col-lg-12">
        </div>

<script>

    $("#currency").on("change",function(e){
        var cur = $(e.target).val();
        pieChart("categoriesChart","green",cur);
        pieChart("reasonsChart","green",cur);
    })

    pieChart("categoriesChart","green","UYU");
    pieChart("reasonsChart","green","UYU");
</script>