        <div class="col-lg-6">
            <canvas id="categoriesChart"></canvas>
        </div>
        <div class="col-lg-4">
           
        </div>
        <div id = "debug" class="col-lg-12">
        </div>
</div>

<script>
    $.ajax({
            headers: {
                "Content-Type": "application/json"
            },
            url: "categoriesChart?currency=USD",
            method: "GET",
            success: function (data) {
                var dataset = _.map(data, (e) => e.total);
                var labels = _.map(data, (e) => e._id.category + "(" + e._id.currency + ")");
             //   $("#debug").text( dataset);
                var myChart = new Chart(document.getElementById("categoriesChart"), {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: dataset,
                            backgroundColor: randomColor({
                                count: dataset.length,
                                //red, orange, yellow, green, blue, purple, pink and monochrom
                                hue: 'green',
                                //to always return the same colors
                                seed : "categoriesChart",
                                //bright, light or dark.
                                luminosity: 'bright'
                            }),
                            borderColor: '#000000'
                        }],
                        labels: labels
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false
                    }
                });
            }
        });
</script>