<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-black">
            <div class="panel-body">
                <select id="currency">
                    {{#currencies}}
                        <option value="{{this}}">{{this}}</option>
                    {{/currencies}}
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-black">
                <div id="categoriesChart"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-black">
            <div id="reasonsChart"></div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-black">
                Timeline daily expenses for the current month
                Timeline daily expenses for the past month
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-black">
                10 most bought normalized product
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-black">
            Timeline daily expenses for the current month per category
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-black">
                Timeline monthly historical expenses 
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-black">
                Timeline monthly historical expenses per category
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-black">
                numeric and percentage list of expenses by category (no graph)
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-black">
                bar graph of the 10 most used addresses
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#currency").on("change",function(e){
        var cur = $(e.target).val();
        pieChart("categoriesChart","green",cur);
        pieChart("reasonsChart","green",cur);
    })

    pieChart("categoriesChart","green","UYU");
    pieChart("reasonsChart","green","UYU");
</script>