<form class="form-horizontal" enctype="application/x-www-form-urlencoded" action="" method="post">
    <div class="form-group">
        <div class="col-xs-12">
            <textarea class="form-control col-10" placeholder="csv data, one item per line, 300 lines max"
                name="csv" id="csv" rows="30"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-right col-xs-10">
            <button class="pull-right btn btn-default" type="submit">Import</button>
        </div>
    </div>
</form>