<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Shoppings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel='stylesheet' href='/css/font-awesome.min.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/css/font-awesome-animation.min.css">
  <link rel='stylesheet' href='/css/style.css' />

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js"></script>
  <script src="/js/custom.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">
              <i class="fa fa-3x fa-home" title="Home"></i></a>
          </li>
          <li>
            <a href="/items/list">
              <i class="fa fa-3x fa-list-alt" title="Items"></i></a>
          </li>
          <li>
            <a href="/brands/list">
              <i class="fa fa-3x fa-trademark" title="Brands"></i></a>
          </li>
          <li>
            <a href="/addresses/list">
              <i class="fa fa-3x fa-map-marker" title="Addresses"></i></a>
          </li>
          <li>
            <a href="/queries/list">
              <i class="fa fa-3x fa-terminal" title="Queries"></i></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              <img src="{{user.photo}}" class="img-circle"></img>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">
                  <i class="fa fa-user"></i>&nbsp;{{user.google.name}}</a>
              </li>
              <li role="separator" class="divider"></li>
              {{#in user.role 'admin'}}
              <li>
                <a href="/lists/list">
                  <i class="fa fa-list"></i>&nbsp;Lists</a>
              </li>
              <li>
                <a href="/users/list">
                  <i class="fa fa-users"></i>&nbsp;Users</a>
              </li>
              <li>
                <a href="/items/csv">
                  <i class="fa fa-file-o"></i>&nbsp;CSV</a>
              </li>
              <li>
                <a href="/backup/export">
                  <i class="fa fa-file-zip-o"></i>&nbsp;Zipped JSON</a>
              </li>
              {{/in}} {{#in user.role 'user,admin'}}
              <li>
                <a href="/reports/monthly">
                  <i class="fa fa-file-pdf-o"></i>&nbsp;Report</a>
              </li>
              <li role="separator" class="divider"></li>
              {{/in}}
              <li>
                <a href="/logout">
                  <i class="fa fa-sign-out"></i>&nbsp;Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    {{{body}}}
  </div>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="docs/index.html" title="Documentation" target="new">
            <i class="fa fa-3x fa-file-text"></i>
          </a>
        </li>
        <li>
          <a data-toggle="modal" href="#aboutModal" title="About">
            <i class="fa fa-3x fa-info"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/jorgeamadosoria/shoppings" title="Repository">
            <i class="fa fa-3x fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="aboutModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="bg-dark modal-header">
          <b>About Shoppings v0.8.1 - 2017</b>
          <button type="button" class="close" data-dismiss="modal">
            <b>&times;</b>
          </button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
                <p>Shoppings is a study application to keep track of expenditure activities. It aims to be a test bed for JS
                  technologies while providing a centralized list of all shoppings. While you can use the code however you
                  choose, this app is not intended to be used for sensitive data keeping. It is not a shining example of
                  Good Practices. Issues can be tracked on
                  <a href="https://github.com/jorgeamadosoria/Shoppings/issues">
                    <i class="fa fa-github"></i>
                  </a>
                </p>
            </div>
            <div class="col-lg-12">
              <hr>
                <ul class="list-inline">
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/csk6o6/nodejs_logo_e1497443346889.png" title="NodeJS"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/ditjQm/zf_Y6l_L7e_Fa_3000x3000.png" title="Express"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/fyMUQm/mongoose.png" title="Mongoose"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/cMsQy6/handlebars_company_brand_logo_360bb6b9aad6cd3c_512x512.png" title="Handlebars"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/gjUYkm/jquery.png" title="jQuery"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/ctnm5m/momentjs_logo_4_DF96_FC733_seeklogo_com.png" title="MomentJS"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/jCa0WR/underscore.png" title="UnderscoreJS"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/eyrw5m/bootstrap_logo_vector_download.jpg" title="Bootstrap"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/fjzSBR/font_awesome_128.png" title="Font Awesome"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/jGCHd6/DMrPoJtc.png" title="Passport"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/f0Q3J6/photo.jpg" title="Mongodb"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/c0gJyG/logo.png" title="Imgbb"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/kHYbkw/github1600.png" title="Github"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/fxnDXb/2000px_Open_Shift_Logo_Type_svg.png" title="Openshift"></img></li>
                  <li class="list-inline-item"><img class="img-responsive" height="50" width="50" src="https://image.ibb.co/nKby06/JSDoc.png" title="JSDoc"></img></li>
                </ul>
            </div>
            <div class="col-lg-12">
              <hr>
            <p>I don´t know why would anyone want to use this app, but in case you do, know that it´s provided under <a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html" ><img class="" width="50" src="https://image.ibb.co/jCrRJG/gplv3.png" title="GPLv3"></img></a> license.</p>
            </div>
            <div class="col-lg-12">
              <hr>
              <span class="left-side">Contact me on:</span>
                <ul class="right-side list-inline">
                  <li class="list-inline-item"><a href="https://www.linkedin.com/in/jorge-soria-98323122/"><i class="fa fa-3x fa-linkedin-square"></i></a></li>
                  <li class="list-inline-item"><a href="https://www.facebook.com/jorgeamado.soriaramirez"><i class="fa fa-3x fa-facebook-square"></i></a></li>
                  <li class="list-inline-item"><a href="https://github.com/jorgeamadosoria"><i class="fa fa-3x fa-github-square"></i></a></li>
                  <li class="list-inline-item"><a href="mailto:darksoul.uci@gmail.com"><i class="fa fa-3x fa-google-plus-square"></i></a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script>

</script>

</html>