    .add-link {
        position: absolute;
        top: 5.2em;
        left: 2.2em;
        background-color: white;
        color: #080808;
        padding: 0px 5px 0px 5px;
    }

    .break {
        page-break-before : always;
        page-break-after : always;
    }

    .row{
        overflow: hidden; 
    }
    
    [class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
    
    canvas {
        width: 400px;
    }
    
    .left-side {
        float: left;
    }
    
    .right-side {
        float: right;
    }
    
    td.fs80 {
        font-size: 80%
    }
    
    .pagebar {
        margin: 0px 0;
    }
    
    .panel-black {
        border-color: #080808;
    }
    
    .pull-right {
        float: right !important;
    }
    
    textarea {
        resize: none;
    }
    
    iframe {
        max-width: 100% !important;
        width: 100% !important;
    }
    
    .bg-dark {
        color: #1b1e21;
        background-color: #d6d8d9;
    }
    
    .img-logo {
        width: 150px;
        height: 150px;
        float: left;
        margin: 10px 10px 10px 10px;
    }
    
    .pagination>.active-dark>a,
    .pagination>.active-dark>a:focus,
    .pagination>.active-dark>a:hover,
    .pagination>.active-dark>span,
    .pagination>.active-dark>span:focus,
    .pagination-dark>.active>span:hover {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #080808;
        border-color: #080808b7;
    }
    
    .btn-dark {
        color: white;
        background-color: #080808;
        border-color: #080808;
    }
    
    .modal-header {
        border-radius: 5px 5px 0px 0px;
    }
    
    .criterion .badge {
        position: static;
        background-color: #080808;
    }
    
    .criterion {
        margin: 5px;
        color: white;
        background-color: #1b1e21;
        border-color: #080808;
    }
    
    .criterion:hover {
        margin: 5px;
        color: #080808;
        background-color: white;
        border-color: #1b1e21;
    }
    
    .modal-footer {
        border-radius: 0px 0px 5px 5px;
        clear: left;
    }