body {
    padding-top: 100px;
    padding-bottom: 70px;
}

.add_link {
    position: absolute;
    top: 9.5%;
    background-color: white;
    color: #080808;
}

.panel-black {
    border-color: #080808;
    padding-top: 30px;
}

.pull-right {
    float: right !important; // Use of important emulates bootstrap
}