<form class="form-horizontal" enctype="application/x-www-form-urlencoded" action="" method="post">
    <div class="form-group">
        <label for="name" class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
            <input class="form-control" name="google.name" id="google.name" readonly value="{{google.name}}" />
        </div>
    </div>
    <div class="form-group">
        <label for="role" class="col-xs-2 control-label">Role</label>
        <div class="col-xs-10">
            <select class="form-control" name="role" id="role">
                {{#lists.roles}}
                    <option>{{this}}</option>
                {{/lists.roles}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="pull-right col-xs-10">
            <button class="pull-right btn btn-default" type="submit">Upsert</button>
        </div>
    </div>
</form>