<form enctype="application/x-www-form-urlencoded" action="" method="post">
    <input name="name" id="name" value="" />
    <input name="website" id="website" value="" />
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
        <button type="submit">Upsert</button>
</form>