<form enctype="application/x-www-form-urlencoded" action="" method="post">
    <input name="name" id="name" value="{{name}}" />
    <input name="website" id="website" value="{{website}}" />
    <textarea name="description" id="description" cols="30" rows="10">{{description}}</textarea>
        <button type="submit">Upsert</button>
</form>